@media screen and (max-width: 1024px) {
    
  header {
    height: 58px;
    border: 1px solid black;
  }
  header:hover {
    cursor: auto;
  }
  header .inner {
    height: 100%;
  }
  header .inner:hover{
  }
  header .inner:hover .menu-line{
    width: 0;
  }
  header .inner .logo {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  header .inner .header__btn{
    position: fixed;
    width: 28px;
    height: 19px;
    top: 19px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  header .inner .header__btn{
    cursor: pointer;
  }
  header .inner .header__btn .btn{
    display: block;
    width: 28px;
    height: 2px;
    background-color: #fff;
  }
  header .inner .menu{
    display:none;
  }
}
@media screen and (max-width: 767px) {

}